*{
    margin:0;
    padding:0;
    font-family: Arial;

}
.container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}
.nav{
    display: flex;
    background-color: rgb(251, 16, 173);
    justify-content:space-around ;
    gap: 20px;
    padding: 20px;
    font-weight:bold;
    cursor: pointer;

}
.nav-item{
    color: rgb(12, 202, 223);
   cursor: pointer;
   font-weight:bold;
}
.main{
    display:grid;
    background-color:lightpink;
    gap:20px;
    padding:20px;
    flex:1;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;


} 
.card{
    background-color:transparent;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    text-indent: 10px;

}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

}