*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: aquamarine;
    color: white;
    padding: 20px;
    text-align: center;
 
}
.nav{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    background-color: aqua;
    /* cursor: pointer; */

}
.nav-item{
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}
.main {
    flex:1;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: rgb(137, 137, 5);

}
.card{
    background-color: blueviolet;
    color: antiquewhite;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0, 0, 10px, rgba(0,0,0,0.1);

}
.footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 15px;
}